<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common-header">
</head>
<body>

	<header>
		<h1> Welcome to FreightBid</h1>
	
	</header>
	
	

		<a class="btn btn-primary" href="/freightBid/lanes" role="button">View All Lanes</a><br/><br/>
		<a class="btn btn-primary" href="/freightBid/lanes?addLane" role="button">Add Lane</a><br/><br/>
		<a class="btn btn-primary" href="/freightBid/Carriers" role="button">View Carriers</a><br/><br/>
		<a class="btn btn-primary" href="/freightBid/Carriers?addCarrier" role="button">Add Carriers</a><br/><br/>
		


</body>
</html>