<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/header :: common-header">   
</head>
<body>

	<header>
		<h1> All Bids</h1>
	
	</header>
	
	<table class = "table table-bordered table-striped">
		<thead class = "thead-dark">
			<tr>
				<!-- <th scope = "col"> Lane Number</th>-->
				<th scope = "col"> Carrier Name</th>
				<th scope = "col"> Carrier MC</th>
				<th scope = "col"> Rate $</th>
				
				
				
			
			</tr>
		</thead>
		
		<tbody>
			<tr th:if ="${bids.empty}">
				<td colspan = "2"> no bids yet</td>
			</tr>
		
			<tr th:each = "bid:${bids}">
				<!-- <td th:text = "${lane.id}"></td>-->
				<td th:text = "${carrier.name}"></td>
				<!--  <td th:text = "${carrier.MC}"></td> -->
				<td th:text = "${bid.rate}"></td>
			</tr>
		</tbody>
	
	
	</table>
	
	<a class="btn btn-lg btn-primary" th:href="@{/freightBid/bids?addBid}"> Add Bid </a>
	
	
</body>
</html>