<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common-header">

</head>
<body>
	<header>
		<h1 class = "display-4"> Add lane</h1>
	
	</header>
	
	<div class = "container">
	
		<form action="#" th:action = "@{/freightBid/lanes}" th:object = "${newLane}" method = "post"> 
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Shipping City </label>
					<input type = "text" class= form-control th:field = "*{shippingCity}" placeholder = "Shipping City" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Shipping State </label>
					<input type = "text" class= form-control th:field = "*{shippingState}" placeholder = "Shipping State" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Receiving City </label>
					<input type = "text" class= form-control th:field = "*{receivingCity}" placeholder = "Receiving City" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Receiving State </label>
					<input type = "text" class= form-control th:field = "*{receivingState}" placeholder = "Receiving State" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Commodity </label>
					<input type = "text" class= form-control th:field = "*{commodity}" placeholder = "Commodity" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Volume </label>
					<input type = "text" class= form-control th:field = "*{volume}" placeholder = "Volume" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Equipment </label>
					<input type = "text" class= form-control th:field = "*{equipment}" placeholder = "Equipment" >
				
				</div>		
			</div>

			<button type = "submit" class = "btn btn-lg btn-primary"> Submit </button>
			<a class = "btn btn-lg btn-warning" th:ref = "@{/freightBid/lanes}"> Cancel </a>
			
		
		</form>
	
	
	</div>

</body>
</html>