<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common-header">

</head>
<body>
	<header>
		<h1 class = "display-4"> Add lane</h1>
	
	</header>
	
	<div class = "container">
	
		<form action="#" th:action = "@{/freightBid/lanes}" th:object = "${newLane}" method = "post"> 
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Shipping City </label>
					<input type = "text" class= form-control th:field = "*{shippingCity}" placeholder = "Shipping City" >
				
				</div>		

				<div clas = "col-lg-6">
					<label for= "name" >Shipping State </label>
					<!--  <input type = "text" class= form-control th:field = "*{shippingState}" placeholder = "Shipping State" >-->
					<select id="inputState" class="form-control" th:field="*{shippingState}">
					
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AR">AR</option>	
						<option value="AZ">AZ</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DC">DC</option>
						<option value="DE">DE</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="IA">IA</option>	
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="MA">MA</option>
						<option value="MD">MD</option>
						<option value="ME">ME</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MO">MO</option>	
						<option value="MS">MS</option>
						<option value="MT">MT</option>
						<option value="NC">NC</option>	
						<option value="NE">NE</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>			
						<option value="NV">NV</option>
						<option value="NY">NY</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WI">WI</option>	
						<option value="WV">WV</option>
						<option value="WY">WY</option>
					</select>
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Receiving City </label>
					<input type = "text" class= form-control th:field = "*{receivingCity}" placeholder = "Receiving City" >
					
				
				</div>		

				<div clas = "col-lg-6">
					<label for= "name" >Receiving State </label>
					<select id="inputState" class="form-control" th:field="*{receivingState}">
					
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AR">AR</option>	
						<option value="AZ">AZ</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DC">DC</option>
						<option value="DE">DE</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="IA">IA</option>	
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="MA">MA</option>
						<option value="MD">MD</option>
						<option value="ME">ME</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MO">MO</option>	
						<option value="MS">MS</option>
						<option value="MT">MT</option>
						<option value="NC">NC</option>	
						<option value="NE">NE</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>			
						<option value="NV">NV</option>
						<option value="NY">NY</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WI">WI</option>	
						<option value="WV">WV</option>
						<option value="WY">WY</option>
					</select>
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Commodity </label>
					<input type = "text" class= form-control th:field = "*{commodity}" placeholder = "Commodity" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Volume </label>
					<input type = "text" class= form-control th:field = "*{volume}" placeholder = "Volume" >
				
				</div>		
			</div>
			
			<div class = "row form-group">
				<div clas = "col-lg-6">
					<label for= "name" >Equipment </label>
					<select id = "text" class= form-control th:field = "*{equipment}" placeholder = "Equipment" >
						<option value="Reefer">Reefer</option>
						<option value="Van">Van</option>
						<option value="Van or Reefer">Van or Reefer</option>
						<option value="Flatbed">Flatbed</option>
						<option value="53' Container">53' Container</option>
						<option value="48' Container">48' Container</option>
						
					
					</select>
				</div>		
			</div>

			<button type = "submit" class = "btn btn-lg btn-primary"> Submit </button>
			<a class = "btn btn-lg btn-warning" th:ref = "@{/freightBid/lanes}"> Cancel </a>
			
		
		</form>
	
	
	</div>

</body>
</html>